div.page {
    background: white;
    border: solid 1px black;
    display: block;
    height: 296mm;
    margin: 10px auto;
    overflow: hidden;
    page-break-after: always;
    width: 209mm;
}

div.landscape-parent {
    height: 209mm;
    width: 296mm;
}

div.landscape {
    height: 209mm;
    width: 296mm;
}

div.content { padding: 10mm; }

div,
td {
    font-family: Verdana;
    font-size: 13px;
}

@media print {
    body { background: none; }

    div.page {
        height: 296mm;
        width: 209mm;
    }

    div.landscape {
        transform: rotate(270deg) translate(-296mm, 0);
        transform-origin: 0 0;
    }

    div.portrait,
    div.landscape,
    div.page {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
    }
}