<div class="row" style="color: #696969; margin-left: 5px; margin-top: 5px;">
    <h5 style="color: #696969; margin-top: 5px;">
        <a asp-action="DashboardInventory" asp-controller="Dashboard" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
        <span>
            <a asp-action="ShowInventoryTransfer" asp-controller="InventoryTransfer" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i> Inventory Transfer</a>
            <i class="fa fa-caret-right align-right"></i> Create Inventory Transfer
        </span>
    </h5>
</div>