<div class="row" style="color: #696969; margin-left: 5px; margin-top: 5px;">
    <h5 style="color: #696969; margin-top: 5px;">
        <a asp-action="DashboardAR" asp-controller="Dashboard" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
        <span>
            <a asp-action="ShowAR" asp-controller="ARInvoice" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i> O2O</a>
            <i class="fa fa-caret-right align-right"></i> Create O2O
        </span>
    </h5>
</div>