/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    background: #dce7f1;
    font-family: 'Poppins', sans-serif;
}

/*p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}*/

a,
a:hover,
a:focus {
    color: #717171;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 15px 10px;
}

.navbar-btn {
    border: none;
    box-shadow: none;
    outline: none !important;
}

.line {
    border-bottom: 1px dashed #ddd;
    height: 1px;
    margin: 40px 0;
    width: 100%;
}

i,
span { display: inline-block; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    align-items: stretch;
    display: flex;
}

#sidebar {
    background: #f0eff1;
    color: #000;
    height: auto;
    max-width: 200px;
    min-width: 200px;
    transition: all 0.3s;
}

#sidebar.active {
    max-width: 80px;
    min-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs { display: none; }

#sidebar.active .sidebar-header strong {
    color: #717171;
    display: block;
}

#sidebar ul li a { text-align: left; }

#sidebar.active ul li a {
    font-size: 1.5em;
    padding: 10px 10px;
    text-align: center;
}

#sidebar.active ul li a p { display: none; }

#sidebar.active ul li a h5 {
    color: #717171;
    display: block;
    font-size: 0.85em;
    margin-bottom: 5px;
    margin-right: 0;            
}


#sidebar.active ul ul a { padding: 10px !important; }

#sidebar.active .dropdown-toggle::after {
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    bottom: 10px;
    right: 50%;
    top: auto;
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    background: #f0eff1;
    padding: 10px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
    padding: 20px 0;
}

#sidebar ul li a {
    display: block;
    font-size: 1em;
    padding: 10px;
}

#sidebar ul li a h5 { display: none; }

#sidebar ul li a p {
    display: block;
    font-size: 1.1em;
}

#sidebar ul li a:hover {
    background: #5f95c3;
    color: #ffffff;
}

#sidebar ul li a i { margin-right: 10px; }


#sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #dce7f1;
    color: #717171;
    padding-right: 5px;
}

a[data-toggle="collapse"] { position: relative; }

.dropdown-toggle::after {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

ul ul a {
    background: #6d7fcc;
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs { padding: 20px; }

ul.CTAs a {
    border-radius: 5px;
    display: block;
    font-size: 0.9em !important;
    margin-bottom: 5px;
    text-align: center;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    min-height: 100vh;
    padding: 10px;
    transition: all 0.3s;
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -80px !important;
        max-width: 80px;
        min-width: 80px;
        text-align: center;
    }

    #sidebar ul li a p {
        font-size: 0.1em;
        margin-left: -80px !important;
        max-width: 80px;
        min-width: 80px;
        text-align: center;
    }

    .dropdown-toggle::after {
        -ms-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        bottom: 10px;
        right: 50%;
        top: auto;
        transform: translateX(50%);
    }

    #sidebar.active { margin-left: 0 !important; }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs { display: none; }

    #sidebar .sidebar-header strong { display: block; }

    #sidebar ul li a { padding: 20px 10px; }

    #sidebar ul li a span { font-size: 0.85em; }

    #sidebar ul li a i {
        display: block;
        margin-right: 0;
    }

    #sidebar ul ul a { padding: 10px !important; }

    #sidebar ul li a i { font-size: 1.3em; }

    #sidebar { margin-left: 0; }

    #sidebarCollapse span { display: none; }
}